<div class="content">

  <h3>Conclusão</h3>


  <p>Com a baixa adesão ao formulário, não foi possível obter um detalhamento tão aprofundado quanto desejávamos.</p>
  <p>No entanto, a pesquisa foi útil para identificar algumas tendências. Áreas como desenvolvimento e Inteligência
    Artificial estão em alta e a maioria dos estudantes é jovem e do gênero masculino.</p>
<br>
    <p>Agradecemos à participação de todos e esperamos poder contribuir mais futuramente com uma pesquisa mais promovida e detalhada!</p>

    <p>Ass: Fernanda, Maria Eduarda e Valentina :)</p>
  </div>
