<div class="flex flex-col items-center section-content">
  <h3>Localização dos estudantes x Local de trabalho</h3>
<p>Cruzamos as informações da região em que os alunos (atuando ou não) moram e a região dos escritórios de quem trabalha híbrido ou presencial.</p>
<div class="flex flex-wrap justify-center items-center">
  <div class="w-1/2">
    <p class=" text-sm/3 break-normal">Nenhuma pessoa mora na região com mais trabalhadores: a Zona Sul. Apenas duas pessoas moram na mesma região que trabalham.</p>
  </div>

  <app-chart type="bar" [data]="data" [options]="options" [width]="width" [height]="height"/>
</div>
</div>

