<div class="content">


  <h1>PanoramADS: origem do projeto</h1>
  <p>O curso de Tecnologia em Análise e Desenvolvimento de Sistemas é ofertado no câmpus Pirituba do Instituto Federal
    de
    Educação, Ciência e Tecnologia de São Paulo desde 2018. </p>

  <p>Desde então, alunos de diferentes regiões da região metropolitana puderam acessar profissões de alto nível de
    qualificação tecnológica por meio de estágios e trainees. A partir disso, surge a ideia da pesquisa: identificar o
    perfil do estudante do curso no mercado de trabalho e qual o papel do IFSP-PTB para conectar empresas e alunos com
    competência técnica e social. </p>


  <p>A justificativa deste trabalho é a curiosidade dos próprios estudantes a compreender as tendências e áreas com mais
    oportunidades e satisfação.</p>

</div>
