<div class="content" >

  <h1 class="lg:mb-4">PanoramADS: oportunidades e tendências dos estudantes de ADS </h1>

  <p>A API tem como objetivo mapear e analisar <strong>tendências</strong> e oportunidades de estágio para estudantes de
    <strong>Análise e
      Desenvolvimento de Sistemas </strong> na área de TI, considerando diferentes semestres de formação. </p>

  <p>Os dados utilizados têm origem em uma pesquisa realizada por meio de Google Forms, garantindo informações
    atualizadas
    e relevantes, além de auxiliar na identificação de <strong>oportunidades</strong> e no entendimento das demandas do
    mercado.</p>
  <span
    class="slidedown-icon h-8 w-8 bg-primary text-primary-contrast rounded-full inline-flex items-center justify-center">
    <i class="pi pi-arrow-down"></i>
  </span>
</div>



<section-three [genderData]="genderData" [genderOptions]="genderOptions" [semesterData]="semesterData"
  [semesterOptions]="semesterOptions" leaveClass="animate-fadeout"></section-three>
<section-one [data]="sectionOneData" [options]="sectionOneOptions"></section-one>
<section-four [data]="sectionFourData" [options]="sectionFourOptions"></section-four>
<section-two [data]="sectionTwoData" [options]="sectionTwoOptions"></section-two>

<app-conclusion></app-conclusion>
